.date {
    /* border: 1px solid green; */
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}

.shaka {
    color: #f5eee6;
    width: 50px;
    height: 47px;
    transform: translate(10px,-25px);
}

.dateNum,
.day,
.month {
    letter-spacing: 2px;
    font-family: 'Migra';
    color: #f5eee6;
}

.dateNum {
    font-family: 'Maelstrom';
    font-size: 4rem;
    transform: translateY(10px);
}

.date-info {
    display: flex;
    flex-direction: column;
}

.month {
    text-transform: capitalize;
    display: block;
    font-size: 1rem;
    margin-top: 1em;
}

.day {
    font-size: 1rem;
    text-transform: uppercase;
}